@import url(./common.scss);
@import url(./header.css);
@import url(./footer.css);
.head_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.head_row::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#EDE2FF), to(#FAECFF));
  background: linear-gradient(180deg, #EDE2FF 0%, #FAECFF 100%);
  z-index: -1;
}

.first_card {
  padding: 132px 32px 134px 104px;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  width: 40%;
}

.first_card .date {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8F9BB3;
  display: inline;
}

.first_card h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 48px;
  color: #2E3A59;
  padding-bottom: 32px;
}

.first_card .personal_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first_card .info {
  margin-left: 16px;
}

.first_card .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.first_card .author {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8F9BB3;
}

.second_card {
  border-radius: 8px;
  width: 60%;
  margin-top: -16px;
  z-index: 1;
  overflow: hidden;
}

.second_card img {
  width: 100%;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.second_card img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content {
  width: 70%;
}

.content img {
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.content img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.text {
  padding: 82px 0 56px;
}

.text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #2E3A59;
}

.text img {
  width: 100%;
  padding: 30px 0 48px;
}

.text h3 {
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #2E3A59;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social .share p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.social .social-links a {
  margin-left: 20px;
}

.blogs .blogs_col {
  padding-bottom: 184px;
}

.blogs h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 48px;
  color: #2E3A59;
  text-align: center;
  padding: 102px 0 56px;
}

.blogs .blogs_img {
  overflow: hidden;
  border-radius: 8px;
}

.blogs .blogs_img img {
  width: 100%;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.blogs .blogs_img img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.blogs p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8F9BB3;
  margin: 12px 0 8px;
}

.blogs h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #2E3A59;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
  .content .text {
    padding: 40px 0;
  }
  .content .text img {
    padding: 40px 0;
  }
  .content .text h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
  .blogs {
    margin-bottom: 46px;
  }
  .blogs .blogs_col {
    padding-bottom: 88px;
  }
  .blogs h1 {
    padding: 64px 0 32px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  .head_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .head_row::after {
    left: -15px;
  }
  .first_card {
    width: 100%;
    padding: 40px 16px 112px;
  }
  .first_card .personal_info {
    display: none;
  }
  .first_card h1 {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 0;
  }
  .first_card .date {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8F9BB3;
    padding-bottom: 16px;
  }
  .second_card {
    width: 100%;
    margin-top: -80px;
  }
}
/*# sourceMappingURL=content.css.map */