@import url(common.scss);
@import url(header.css);
@import url(footer.css);
.documentation{
    .head_sec{
        text-align: center;
        padding: 25px 0 40px;
        h3{
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: #2E3A59;
            margin-bottom: 16px;
        }
        h6{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #2E3A59;
        }
    }
    .first_btns{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-bottom: 56px;
        .btn_doc{
            padding: 16px 24px;
            background: #E4DFFE;
            border: 1px solid #705DF2;
            border-radius: 24px;
            margin-right: 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #2E3A59;
            &.clicked{
                background-color: #705DF2;
                border: 1px solid #E4DFFE;
                color: #E4DFFE;               
                transform: scale(1.05,1.05);
                transition: .3s all ease-in-out;
            }
        }
        .btn_doc:hover{
            transition: .3s all ease-in-out;
            filter: brightness(90%);
        }
    }
    .lists{
        .colored_list{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #FC3E70;
        }
        li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 24px 10px;
            border-bottom: 1px solid #E4DFFE;
            span{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #2E3A59;
            }
        }
        li:hover{
            transition: .3s all ease-in-out;
            background-color: #edeaf8;
            transform: scale(1.01);
            border-radius: 5px;
        }
        .plus_text{
            display: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #2E3A59;
            padding: 32px 72px 20px 15px;
            &.show_text{
                display: block;
            }
        }
    }
    .plus_img{
        &.rotated{
            transform: rotate(45deg);
            color: #FC3E70;
        }
    }
    .second_btns{
        display: flex;
        justify-content: center;
        text-align: center;  
        padding: 120px 0 96px;
        .btn_doc{
            padding: 16px 24px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #705DF2;
            border: 1px solid #E4DFFE;
            border-radius: 8px;
            margin-right: 16px;
            &.clicked{
                background-color: #705DF2;
                border: 1px solid #E4DFFE;
                color: #E4DFFE;
                transform: scale(1.05,1.05);
                transition: all 0.3 ease-in-out;
            }
        }
        .btn_doc:hover{
            transition: .3s all ease-in-out;
            filter: brightness(90%);
        }
    }
}
@media(max-width:768px){
    .documentation{
        .first_btns, .second_btns{
            flex-direction: column;
        }
        .first_btns{
            padding-bottom: 32px;
            button{
                margin-bottom: 24px;
            }
        }
        .second_btns{
            padding: 80px 0 56px;
            button{
                margin-bottom: 24px;
            }
        }
        .lists{
            .plus_text{
                padding: 16px 16px 24px 16px;
                }
        }
    }
}