.first_section{
    display: flex;
    flex-direction: column;
    padding: 72px 216px;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    h3{
        font-weight: 400;
        font-size: 34px;
        line-height: 40px;
        color: #FFFFFF;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 32px auto 48px;
        width: 60%;
    }
    button{
        display: flex;
        align-items: center;
        padding: 18px 40px;
        background: #FFFFFF;
        border-radius: 16px;  
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #705DF2;
        transition: 0.3s all ease-out;
    }
    button:hover{
        filter: brightness(85%);
    }
    img{
        margin-left: 12px;
    }
}
footer{
    background: #0D0659;
}
.second_section{
padding: 64px 0 72px;
color: #FFFFFF;
border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.booknetic{
    p{
        width: 80%;
        margin-top: 40px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}
.menu_col{
    display: flex;
    flex-direction: column;
    a{
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    a:hover{
        text-decoration: underline;
    }
    h5{
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 32px;
    }
}
.third_section{
    padding: 24px 0;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copyright{
        color: #FFFFFF;
        img{
            margin-right: 8px;
        }
        span{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .social{
        a{
            padding-left: 24px;
            transition: 0.3s all ease-in-out;
        }
        a:hover{
            filter: brightness(85%);
            transform: scale(1.1 )
        }
    }
}
@media(max-width:768px){
    .first_section{
        padding: 56px 16px 64px;
        h3{
            font-size: 24px;
            line-height: 32px;
            width: 60%;
        }
        p{
            margin: 24px 16px 40px;
            width: 70%;
        }
        button{
            width: 70%;
            justify-content: center ;
            padding: 20px auto;
        }
    }
    .booknetic{
        text-align: center;
        p{
            display: none;
        }
    }
    .menu_col{
        h5{
            padding-top: 64px;
        }
    }
    .copyright_row{
        display: flex;
        flex-direction: column-reverse;
        .social{
            margin-bottom: 40px;
        }
    }
}