header{
    height: 96px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    display: flex;
    border-bottom: 1px solid #E4E9F2;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    a{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #2E3A59;
        margin-right: 48px;
        margin-bottom: 0;
        text-decoration: none;
    }
}
.btn{
    button{
    display: flex;
    align-items: center;
    background: #705DF2;
    border-radius: 24px;
    padding: 12px 24px;
    border-color: transparent;
    color: white;
    }
    img{
    margin-left: 12px;
    }
}
.burger-menu{
    display: none;
}
@media(max-width:768px){
    header{
        .menu{
            position: absolute;
            top: 96px;
            left: -100%;
            flex-direction: column;
            background-color: #E4E9F2;
            width: 100%;
            justify-content: start;
            align-items: flex-start;
            padding: 20px 0;           
            &.show{
                left: 0;
            }
            a{
                margin-right: 0;
                padding: 20px;
            }

        }
        .burger-menu{
            display: block;
        }
    }
}
